$primary-color: #1d3864;
$secondary-color: #f6bb22;
$secondary-color-dark: #f6bb22;
$tertiary-color: #f0f0f0;
$background-color: #f0f0f0;
$text-color: #f0f0f0;
$hover-color: #3878FF;
$text-header-color: #0B132A;
$sub-text-color: #4F5665;
